
<div #parallaxContainer class="parallax-container">
  <ng-container *ngFor="let layer of layers">
    <div
      *ngIf="!layer.data.static && !layer.data.disabled"
      class="parallax-layer"
      [style.background-image]="'url(' + imgSrcProvider.getSrc(layer.data.image!) + ')'"
      [style.background-position-x]="(-layer.offset) + 'px'"
    >
    </div>

    <div
      *ngIf="layer.data.static && !layer.data.disabled"
      class="parallax-static-layer"
      [style.background-image]="'url(' + imgSrcProvider.getSrc(layer.data.image!) + ')'"
    >
    </div>
  </ng-container>
</div>

