
<div class="parallax-background">
  <app-parallax-animator #parallaxAnimator
    [parallaxProvider]="parallaxProvider"
  ></app-parallax-animator>
</div>

<div class="h-box" style="position: relative; z-index: 1; gap: 60px;">
  <div class="v-box" style="width: 400px; flex-shrink: 0;">
    <div>
      <div>Project:</div>
      <button (click)="folderInp.click()">Import Folder</button>
      <input #folderInp type="file" hidden webkitdirectory mozdirectory (change)="importFolder($event)" />

      <button (click)="fileInp.click()">Import ZIP</button>
      <input #fileInp type="file" hidden (change)="importZip($event)" />

      <button (click)="exportFolder()">Export</button>

      <button (click)="remapTiles()">Remap Tiles</button>
    </div>

    <div style="height: 20px;"></div>

    <div>
      <div>Create new file:</div>
      <input #fileNameInp value="untitled"/>
      <button (click)="addImage()">+Image</button>
      <button (click)="addTileset()">+Tileset</button>
      <button (click)="addParallax()">+Parallax</button>
    </div>
  
    <div style="height: 20px;"></div>

    <div style="overflow: auto;">
      <app-file-list
        [files]="state.files"
        [selectedFile]="state.selectedFile"
        (fileClick)="onFileClick($event)"
        (deleteFileClick)="onDeleteFileClick($event)"
      ></app-file-list>
    </div>
  </div>

  <!-- Main Content -->
  <div style="flex-grow: 1; overflow: auto;">
    <img #img [style.display]="getCssDisplay(TpFileType.IMAGE)"/>

    <div *ngIf="state.selectedFile?.type === TpFileType.TILESET">
      <app-tile-set-editor
        [tilesetConfig]="getTilesetData()"
        [files]="state.imgFiles"
      ></app-tile-set-editor>
    </div>

    <div *ngIf="state.selectedFile?.type === TpFileType.PARALLAX">
      <app-parallax-editor
        [parallaxData]="getParallaxData()"
        [imageFiles]="state.imgFiles"
        [tilesetFiles]="state.tilesetFiles"
        (parallaxDataChange)="onParallaxDataChange($event)"
        (downloadAsImage)="downloadAsImage($event)"
      ></app-parallax-editor>
    </div>
  </div>
</div>

