
html, body {
  margin: 0;
  background: black;
  height: 100%;
}

input, textarea {
  background: #333;
}

* {
  color: white;
  text-shadow: black 1px 1px 1px;
}

button {
  background: #333;
}

.h-box {
  display: flex;
  height: 100%;
}

.v-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
